<div style="max-width:100%;background-color:#f2f2f2;padding:4rem 0 3rem 0;margin:0 auto;font-family:'Poppins', sans-serif; color:#646464;width:40rem;">
  <div style="text-align: center;">
    <%= image_tag 'logo-black.png', style: 'width: 18.75rem;' %>
  </div>
  <h1 style="background-color:#393838;color:#fff;padding:2.2rem 3rem;font-weight:300;margin-bottom:0;">
    <%= "Artist Application Accepted" if @audition.approved? %>
    <%= "Artist Application Not Accepted" if @audition.rejected? %>
  </h1>
  <div style="padding: 1.2rem 3rem 3rem;border: 1px solid #e3e1e1;background-color: #ffffff;border-radius: 0 0 3px 3px;">
    <%== @content %>
  </div>
  <div style="padding-top:1.5rem;">
    <p style="margin-top:0.3rem;margin-bottom:0.3rem;text-align:center;opacity:0.8;">Audiosocket</p>
    <p style="margin-top:0.3rem;margin-bottom:0.3rem;text-align:center;opacity:0.8;">Seattle, WA 98103</p>
    <p style="margin-top:0.3rem;margin-bottom:0.3rem;text-align:center;opacity:0.8;">United States</p>
  </div>
</div>
