// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "arctic_admin/base";
@import "active_admin/searchable_select";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.align-right {
  text-align: right;
  padding: 5px 8px;
  margin-top: -50px;
}

.current a {
  color: white !important;
  background-color: $primary-color !important;
  font-weight: bold;
}

.header {
  #utility_nav {
    #logout, #filters{
      min-width: 50px;
      min-height: 49px;
      float: right;
      display: flex;
      align-items: center;

      a {
        position: relative;
        width: 60px;
        height: 49px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;

        &:before {
          display: none;
        }
      }
    }
  }
}

#sidebar:before {
  display: none;
}

.align-right-button {
  text-align: right;
  margin-top: -20px;
}

.align-left-button {
  text-align: left;
  margin-left: 280px;
  margin-top: -10px;
  margin-bottom: 10px;
}
